In [12]:
import pandas as pd
import numpy as np
import math

In [122]:
data = pd.read_csv("monthly_avg_clt_temp_1878_Present.csv")

In [123]:
data.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,1880,50.4,49.1,51.4,61.5,70.9,76.0,78.7,76.1,69.8,59.7,45.1,37.7,60.5
1,1881,36.8,44.0,48.0,56.0,70.9,78.5,82.2,80.6,78.0,66.3,51.7,47.4,61.7
2,1882,43.8,49.9,54.0,61.6,65.5,77.5,78.1,76.6,70.7,63.9,48.4,38.2,60.7
3,1883,39.4,49.0,46.6,59.1,68.3,77.1,80.2,76.9,69.3,62.4,53.0,47.1,60.7
4,1884,38.6,51.7,53.9,57.3,69.5,70.9,77.5,75.4,73.2,66.5,50.9,44.1,60.8

In [124]:
for i in range(len(data)):
    year = data.loc[i, "YEAR"]
    if year%10 == 0:
        decade = year
    data.loc[i, "Decade"] = decade

In [125]:
data = data.drop(columns={'ANNUAL'})

In [126]:
data

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Decade
0,1880,50.4,49.1,51.4,61.5,70.9,76.0,78.7,76.1,69.8,59.7,45.1,37.7,1880.0
1,1881,36.8,44.0,48.0,56.0,70.9,78.5,82.2,80.6,78.0,66.3,51.7,47.4,1880.0
2,1882,43.8,49.9,54.0,61.6,65.5,77.5,78.1,76.6,70.7,63.9,48.4,38.2,1880.0
3,1883,39.4,49.0,46.6,59.1,68.3,77.1,80.2,76.9,69.3,62.4,53.0,47.1,1880.0
4,1884,38.6,51.7,53.9,57.3,69.5,70.9,77.5,75.4,73.2,66.5,50.9,44.1,1880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2018,37.8,54.5,49.1,58.7,74.0,79.3,80.3,79.7,78.9,64.1,48.7,45.8,2010.0
139,2019,43.9,50.1,50.6,63.1,74.3,76.6,81.6,79.3,78.7,67.1,48.6,47.5,2010.0
140,2020,46.9,48.8,58.6,60.6,65.5,76.0,82.0,79.8,71.4,64.7,56.7,43.5,2020.0
141,2021,42.3,44.1,55.9,60.6,68.3,77.2,80.1,80.4,72.7,66.7,49.6,53.2,2020.0
142,2022,41.1,48.0,56.5,62.0,71.8,78.8,82.1,78.6,72.3,59.4,54.8,42.8,2020.0

In [127]:
data = data.groupby('Decade', as_index=False)['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'].mean()

<ipython-input-127-d56ee2553eef>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = data.groupby('Decade', as_index=False)['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'].mean()

In [128]:
data

,Decade,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1880.0,41.020000,45.820000,49.79,59.900000,69.130000,75.450000,79.06,76.71,71.310000,61.00,50.33,43.56
1,1890.0,41.140000,44.030000,50.44,59.730000,69.010000,76.580000,77.67,77.00,72.210000,60.15,50.70,43.37
2,1900.0,41.500000,40.850000,52.77,58.670000,68.980000,75.100000,78.56,77.29,72.000000,60.51,51.49,41.77
3,1910.0,42.680000,43.530000,50.75,59.980000,69.420000,75.250000,78.05,77.31,71.290000,62.90,50.53,41.90
4,1920.0,41.610000,45.290000,52.33,60.260000,67.540000,76.480000,79.00,77.48,73.790000,61.92,51.01,44.90
5,1930.0,44.990000,45.530000,51.81,59.760000,69.810000,77.520000,79.97,78.39,74.120000,62.31,51.63,43.74
6,1940.0,42.300000,44.410000,52.09,61.850000,69.940000,78.210000,79.07,77.95,72.370000,63.13,52.14,43.85
7,1950.0,43.690000,45.920000,50.38,61.130000,70.100000,76.800000,79.58,78.81,72.410000,61.84,50.30,43.27
8,1960.0,39.550000,41.830000,49.30,60.150000,68.200000,74.820000,78.10,77.26,71.220000,60.58,51.00,41.00
9,1970.0,39.660000,41.870000,51.65,59.850000,67.040000,73.930000,77.87,77.62,72.390000,60.48,51.00,43.78
10,1980.0,38.760000,43.740000,51.29,59.870000,68.190000,76.450000,79.73,78.21,71.670000,61.02,52.04,42.81
11,1990.0,43.690000,46.970000,52.81,61.400000,69.240000,76.480000,81.00,78.42,72.320000,61.91,51.81,45.23
12,2000.0,41.620000,44.210000,52.39,59.930000,67.610000,75.610000,77.81,78.42,71.510000,60.68,51.56,43.00
13,2010.0,40.910000,46.130000,52.32,62.010000,70.630000,77.690000,80.97,78.89,74.290000,62.58,50.32,46.20
14,2020.0,43.433333,46.966667,57.00,61.066667,68.533333,77.333333,81.40,79.60,72.133333,63.60,53.70,46.50

In [129]:
data_pct_change = data.loc[:, data.columns != 'Decade'].pct_change()

In [130]:
data_pct_change

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.002925,-0.039066,0.013055,-0.002838,-0.001736,0.014977,-0.017582,0.003780,0.012621,-0.013934,7.351480e-03,-0.004362
2,0.008751,-0.072223,0.046193,-0.017747,-0.000435,-0.019326,0.011459,0.003766,-0.002908,0.005985,1.558185e-02,-0.036892
3,0.028434,0.065606,-0.038279,0.022328,0.006379,0.001997,-0.006492,0.000259,-0.009861,0.039498,-1.864440e-02,0.003112
4,-0.025070,0.040432,0.031133,0.004668,-0.027082,0.016346,0.012172,0.002199,0.035068,-0.015580,9.499307e-03,0.071599
5,0.081230,0.005299,-0.009937,-0.008297,0.033610,0.013598,0.012278,0.011745,0.004472,0.006298,1.215448e-02,-0.025835
6,-0.059791,-0.024599,0.005404,0.034973,0.001862,0.008901,-0.011254,-0.005613,-0.023610,0.013160,9.877978e-03,0.002515
7,0.032861,0.034001,-0.032828,-0.011641,0.002288,-0.018028,0.006450,0.011033,0.000553,-0.020434,-3.528960e-02,-0.013227
8,-0.094759,-0.089068,-0.021437,-0.016031,-0.027104,-0.025781,-0.018598,-0.019668,-0.016434,-0.020375,1.391650e-02,-0.052461
9,0.002781,0.000956,0.047667,-0.004988,-0.017009,-0.011895,-0.002945,0.004660,0.016428,-0.001651,2.220446e-16,0.067805
10,-0.022693,0.044662,-0.006970,0.000334,0.017154,0.034086,0.023886,0.007601,-0.009946,0.008929,2.039216e-02,-0.022156
11,0.127193,0.073845,0.029635,0.025555,0.015398,0.000392,0.015929,0.002685,0.009069,0.014585,-4.419677e-03,0.056529
12,-0.047379,-0.058761,-0.007953,-0.023941,-0.023541,-0.011376,-0.039383,0.000000,-0.011200,-0.019868,-4.825323e-03,-0.049304
13,-0.017059,0.043429,-0.001336,0.034707,0.044668,0.027510,0.040612,0.005993,0.038876,0.031312,-2.404965e-02,0.074419
14,0.061680,0.018137,0.089450,-0.015213,-0.029685,-0.004591,0.005311,0.009000,-0.029030,0.016299,6.717011e-02,0.006494

In [131]:
data_pct_change = data_pct_change.rename(columns={'JAN': 'Jan_pct_change', 'FEB':'Feb_pct_change', 'MAR':'Mar_pct_change', 'APR':'Apr_pct_change', 'MAY':'May_pct_change', 'JUN':'Jun_pct_change', 'JUL':'Jul_pct_change', 'AUG':'Aug_pct_change', 'SEP':'Sep_pct_change', 'OCT':'Oct_pct_change', 'NOV':'Nov_pct_change', 'DEC':'Dec_pct_change'})

In [132]:
data_pct_change

,Jan_pct_change,Feb_pct_change,Mar_pct_change,Apr_pct_change,May_pct_change,Jun_pct_change,Jul_pct_change,Aug_pct_change,Sep_pct_change,Oct_pct_change,Nov_pct_change,Dec_pct_change
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.002925,-0.039066,0.013055,-0.002838,-0.001736,0.014977,-0.017582,0.003780,0.012621,-0.013934,7.351480e-03,-0.004362
2,0.008751,-0.072223,0.046193,-0.017747,-0.000435,-0.019326,0.011459,0.003766,-0.002908,0.005985,1.558185e-02,-0.036892
3,0.028434,0.065606,-0.038279,0.022328,0.006379,0.001997,-0.006492,0.000259,-0.009861,0.039498,-1.864440e-02,0.003112
4,-0.025070,0.040432,0.031133,0.004668,-0.027082,0.016346,0.012172,0.002199,0.035068,-0.015580,9.499307e-03,0.071599
5,0.081230,0.005299,-0.009937,-0.008297,0.033610,0.013598,0.012278,0.011745,0.004472,0.006298,1.215448e-02,-0.025835
6,-0.059791,-0.024599,0.005404,0.034973,0.001862,0.008901,-0.011254,-0.005613,-0.023610,0.013160,9.877978e-03,0.002515
7,0.032861,0.034001,-0.032828,-0.011641,0.002288,-0.018028,0.006450,0.011033,0.000553,-0.020434,-3.528960e-02,-0.013227
8,-0.094759,-0.089068,-0.021437,-0.016031,-0.027104,-0.025781,-0.018598,-0.019668,-0.016434,-0.020375,1.391650e-02,-0.052461
9,0.002781,0.000956,0.047667,-0.004988,-0.017009,-0.011895,-0.002945,0.004660,0.016428,-0.001651,2.220446e-16,0.067805
10,-0.022693,0.044662,-0.006970,0.000334,0.017154,0.034086,0.023886,0.007601,-0.009946,0.008929,2.039216e-02,-0.022156
11,0.127193,0.073845,0.029635,0.025555,0.015398,0.000392,0.015929,0.002685,0.009069,0.014585,-4.419677e-03,0.056529
12,-0.047379,-0.058761,-0.007953,-0.023941,-0.023541,-0.011376,-0.039383,0.000000,-0.011200,-0.019868,-4.825323e-03,-0.049304
13,-0.017059,0.043429,-0.001336,0.034707,0.044668,0.027510,0.040612,0.005993,0.038876,0.031312,-2.404965e-02,0.074419
14,0.061680,0.018137,0.089450,-0.015213,-0.029685,-0.004591,0.005311,0.009000,-0.029030,0.016299,6.717011e-02,0.006494

In [133]:
decade_data = pd.concat([data, data_pct_change], axis=1)

In [134]:
data.columns

Index(['Decade', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC'],
      dtype='object')

In [135]:
decade_data

,Decade,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,Mar_pct_change,Apr_pct_change,May_pct_change,Jun_pct_change,Jul_pct_change,Aug_pct_change,Sep_pct_change,Oct_pct_change,Nov_pct_change,Dec_pct_change
0,1880.0,41.020000,45.820000,49.79,59.900000,69.130000,75.450000,79.06,76.71,71.310000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1890.0,41.140000,44.030000,50.44,59.730000,69.010000,76.580000,77.67,77.00,72.210000,...,0.013055,-0.002838,-0.001736,0.014977,-0.017582,0.003780,0.012621,-0.013934,7.351480e-03,-0.004362
2,1900.0,41.500000,40.850000,52.77,58.670000,68.980000,75.100000,78.56,77.29,72.000000,...,0.046193,-0.017747,-0.000435,-0.019326,0.011459,0.003766,-0.002908,0.005985,1.558185e-02,-0.036892
3,1910.0,42.680000,43.530000,50.75,59.980000,69.420000,75.250000,78.05,77.31,71.290000,...,-0.038279,0.022328,0.006379,0.001997,-0.006492,0.000259,-0.009861,0.039498,-1.864440e-02,0.003112
4,1920.0,41.610000,45.290000,52.33,60.260000,67.540000,76.480000,79.00,77.48,73.790000,...,0.031133,0.004668,-0.027082,0.016346,0.012172,0.002199,0.035068,-0.015580,9.499307e-03,0.071599
5,1930.0,44.990000,45.530000,51.81,59.760000,69.810000,77.520000,79.97,78.39,74.120000,...,-0.009937,-0.008297,0.033610,0.013598,0.012278,0.011745,0.004472,0.006298,1.215448e-02,-0.025835
6,1940.0,42.300000,44.410000,52.09,61.850000,69.940000,78.210000,79.07,77.95,72.370000,...,0.005404,0.034973,0.001862,0.008901,-0.011254,-0.005613,-0.023610,0.013160,9.877978e-03,0.002515
7,1950.0,43.690000,45.920000,50.38,61.130000,70.100000,76.800000,79.58,78.81,72.410000,...,-0.032828,-0.011641,0.002288,-0.018028,0.006450,0.011033,0.000553,-0.020434,-3.528960e-02,-0.013227
8,1960.0,39.550000,41.830000,49.30,60.150000,68.200000,74.820000,78.10,77.26,71.220000,...,-0.021437,-0.016031,-0.027104,-0.025781,-0.018598,-0.019668,-0.016434,-0.020375,1.391650e-02,-0.052461
9,1970.0,39.660000,41.870000,51.65,59.850000,67.040000,73.930000,77.87,77.62,72.390000,...,0.047667,-0.004988,-0.017009,-0.011895,-0.002945,0.004660,0.016428,-0.001651,2.220446e-16,0.067805
10,1980.0,38.760000,43.740000,51.29,59.870000,68.190000,76.450000,79.73,78.21,71.670000,...,-0.006970,0.000334,0.017154,0.034086,0.023886,0.007601,-0.009946,0.008929,2.039216e-02,-0.022156
11,1990.0,43.690000,46.970000,52.81,61.400000,69.240000,76.480000,81.00,78.42,72.320000,...,0.029635,0.025555,0.015398,0.000392,0.015929,0.002685,0.009069,0.014585,-4.419677e-03,0.056529
12,2000.0,41.620000,44.210000,52.39,59.930000,67.610000,75.610000,77.81,78.42,71.510000,...,-0.007953,-0.023941,-0.023541,-0.011376,-0.039383,0.000000,-0.011200,-0.019868,-4.825323e-03,-0.049304
13,2010.0,40.910000,46.130000,52.32,62.010000,70.630000,77.690000,80.97,78.89,74.290000,...,-0.001336,0.034707,0.044668,0.027510,0.040612,0.005993,0.038876,0.031312,-2.404965e-02,0.074419
14,2020.0,43.433333,46.966667,57.00,61.066667,68.533333,77.333333,81.40,79.60,72.133333,...,0.089450,-0.015213,-0.029685,-0.004591,0.005311,0.009000,-0.029030,0.016299,6.717011e-02,0.006494

In [136]:
decade_data = decade_data.rename(columns={'JAN':'Jan', 'FEB':'Feb', 'MAR':'Mar', 'APR':'Apr', 'MAY':'May', 'JUN':'Jun', 'JUL':'Jul', 'AUG':'Aug', 'SEP':'Sep', 'OCT':'Oct', 'NOV':'Nov', 'DEC':'Dec'})

In [137]:
decade_data

,Decade,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,...,Mar_pct_change,Apr_pct_change,May_pct_change,Jun_pct_change,Jul_pct_change,Aug_pct_change,Sep_pct_change,Oct_pct_change,Nov_pct_change,Dec_pct_change
0,1880.0,41.020000,45.820000,49.79,59.900000,69.130000,75.450000,79.06,76.71,71.310000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1890.0,41.140000,44.030000,50.44,59.730000,69.010000,76.580000,77.67,77.00,72.210000,...,0.013055,-0.002838,-0.001736,0.014977,-0.017582,0.003780,0.012621,-0.013934,7.351480e-03,-0.004362
2,1900.0,41.500000,40.850000,52.77,58.670000,68.980000,75.100000,78.56,77.29,72.000000,...,0.046193,-0.017747,-0.000435,-0.019326,0.011459,0.003766,-0.002908,0.005985,1.558185e-02,-0.036892
3,1910.0,42.680000,43.530000,50.75,59.980000,69.420000,75.250000,78.05,77.31,71.290000,...,-0.038279,0.022328,0.006379,0.001997,-0.006492,0.000259,-0.009861,0.039498,-1.864440e-02,0.003112
4,1920.0,41.610000,45.290000,52.33,60.260000,67.540000,76.480000,79.00,77.48,73.790000,...,0.031133,0.004668,-0.027082,0.016346,0.012172,0.002199,0.035068,-0.015580,9.499307e-03,0.071599
5,1930.0,44.990000,45.530000,51.81,59.760000,69.810000,77.520000,79.97,78.39,74.120000,...,-0.009937,-0.008297,0.033610,0.013598,0.012278,0.011745,0.004472,0.006298,1.215448e-02,-0.025835
6,1940.0,42.300000,44.410000,52.09,61.850000,69.940000,78.210000,79.07,77.95,72.370000,...,0.005404,0.034973,0.001862,0.008901,-0.011254,-0.005613,-0.023610,0.013160,9.877978e-03,0.002515
7,1950.0,43.690000,45.920000,50.38,61.130000,70.100000,76.800000,79.58,78.81,72.410000,...,-0.032828,-0.011641,0.002288,-0.018028,0.006450,0.011033,0.000553,-0.020434,-3.528960e-02,-0.013227
8,1960.0,39.550000,41.830000,49.30,60.150000,68.200000,74.820000,78.10,77.26,71.220000,...,-0.021437,-0.016031,-0.027104,-0.025781,-0.018598,-0.019668,-0.016434,-0.020375,1.391650e-02,-0.052461
9,1970.0,39.660000,41.870000,51.65,59.850000,67.040000,73.930000,77.87,77.62,72.390000,...,0.047667,-0.004988,-0.017009,-0.011895,-0.002945,0.004660,0.016428,-0.001651,2.220446e-16,0.067805
10,1980.0,38.760000,43.740000,51.29,59.870000,68.190000,76.450000,79.73,78.21,71.670000,...,-0.006970,0.000334,0.017154,0.034086,0.023886,0.007601,-0.009946,0.008929,2.039216e-02,-0.022156
11,1990.0,43.690000,46.970000,52.81,61.400000,69.240000,76.480000,81.00,78.42,72.320000,...,0.029635,0.025555,0.015398,0.000392,0.015929,0.002685,0.009069,0.014585,-4.419677e-03,0.056529
12,2000.0,41.620000,44.210000,52.39,59.930000,67.610000,75.610000,77.81,78.42,71.510000,...,-0.007953,-0.023941,-0.023541,-0.011376,-0.039383,0.000000,-0.011200,-0.019868,-4.825323e-03,-0.049304
13,2010.0,40.910000,46.130000,52.32,62.010000,70.630000,77.690000,80.97,78.89,74.290000,...,-0.001336,0.034707,0.044668,0.027510,0.040612,0.005993,0.038876,0.031312,-2.404965e-02,0.074419
14,2020.0,43.433333,46.966667,57.00,61.066667,68.533333,77.333333,81.40,79.60,72.133333,...,0.089450,-0.015213,-0.029685,-0.004591,0.005311,0.009000,-0.029030,0.016299,6.717011e-02,0.006494

In [138]:
decade_data.to_csv("clt_avg_temp_decade.csv", index=False)